<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "Name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<p>
    <a href="/places">Back to all places</a>
</p>